.title {
  padding: 1.5em 0;
  font-size: x-large;
}

.shipping-item {
  background-color: #ddd;
  padding: 1.2em;
  margin: 0.5em 0em;
  border-radius: 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.item-name {
  font-weight: 500;
  margin-right: 1em;
  justify-self: flex-start;
}

.item-price {
  margin-left: auto;
  margin-right: 8em;
  position: relative;
  font-weight: 750;
}
