.container {
  width: 70%;
  margin: auto;
}

h2 {
  margin: 1em 0;
}

.title {
  color: blueviolet;
  font-size: larger;
  margin: 0.5em 0;
}

.price {
  font-size: 1.2em;
  margin: 1em;
}

.btn {
  border: none;
  background-color: blueviolet;
  color: aliceblue;
  margin: 0.5em 0;
  padding: 0.5em 1.5em;
  border-radius: 0.3em;
}
